<VirtualHost *:80>
    ServerName {{ var1 }}
    ServerAlias www.{{ var1 }}

    DocumentRoot /var/www/{{ var1 }}/web
    <Directory /var/www/{{ var1 }}/web>
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>

    ErrorLog /var/log/apache2/{{ var1 }}/error.log
    CustomLog /var/log/apache2/{{ var1 }}/access.log combined

</VirtualHost>
